@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #e63946;
  text-align: center;
}
.p {
  font-size: 18px;
  font-weight: 500px;
}
.wrapper {
  background: #f1faee;
  width: 400px;
  border-radius: 10px;
  padding: 10px;
}
.wrapper h1{
  font-weight: 500px;
}
.inputs {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.inputs input,
button {
  padding: 10px 20px;
  margin-bottom: 10px;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
}

.inputs input {
  border: 2px solid #e63946;
}
.inputs button {
  border: none;
  color: #fff;
  background: #e63946;
  opacity: 0.7;
  pointer-events: none;
}
.inputs button.active {
  opacity: 1;
  pointer-events: all;
}
span {
  color: #e63946;
}

@media (max-width: 500px) {
  .wrapper {
    padding:  20px;
    margin: 0 20px;
  }
  body{
    font-weight: 300px;
  }
}
